body{
    margin:0px;
    
}
#container{
   margin:0 auto;
    width:400px;
    height:400px;
    background-color: #1F2937;
    margin-top:50px;
   
}
#inner-wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding-left:30px;
    height: inherit;
}

.green{
    background-color: #10B981;
    width:191;
    height:42;
    padding: 9px 17px;
    font-family: in;
    color:white;
    border:none;
    box-shadow: 0 0 1 black;
    border-radius:5px;
    margin-bottom: 20px;
}
#heading{
    color:white;
}
.btn{
    display:flex;
    justify-content: space-evenly;
    width:inherit;
    gap:20px;
    flex-grow: 2 2;
}
#random{
   color: #10B981; 
   margin-top:-20px;
}
#never{
    color:#D5D4D8;
     margin-top:-20px;
     margin-bottom: 20px;
}
.dark{
    background-color: #273549;
    color:#10B981;
    padding: 3px 8px;
    border-radius:5px;
    border:none;
    font-size: x-small;
    box-shadow: 0 0 1 whitesmoke;
    width:150px;
    height:32px;
}
#password{
    color:#D5D4D8;
}